@charset "UTF-8";
/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Gotu:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,800);
@import url(https://fonts.googleapis.com/css?family=Gotu:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,800);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-size: 24px;
  font-family: "Gotu", sans-serif;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 660px) {
  body {
    font-size: 16px;
  }
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2em;
}

.header__logo {
  align-items: center;
  text-align: center;
  padding: 10px 0;
  background-color: #fd8994;
}
@media screen and (max-width: 1200px) {
  .header__logo {
    display: none;
  }
}

.header__nav {
  font-size: 1.3em;
  padding: 50px 0;
  background-color: #fc5c6b;
}
@media screen and (max-width: 1200px) {
  .header__nav {
    padding: 35px 0;
    background-color: #fd8994;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .nav__list {
    display: none;
  }
}

.nav__list-item {
  position: relative;
  color: #fff;
}
.nav__list-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease-in;
}
.nav__list-item:hover::after {
  width: 100%;
}

.header-nav-row {
  display: inline;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .header-nav-row {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 660px) {
  .header-nav-row {
    gap: 10px;
  }
}

.logo {
  display: none;
}
@media screen and (max-width: 1200px) {
  .logo {
    display: block;
  }
}

.header-btn {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header-btn {
    display: block;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-nav {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header-logo-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .logo-img {
    width: 25%;
  }
}

.footer {
  padding: 74px 0;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 40px 0;
  }
}

.footer-row {
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .footer-row {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

.footer__nav__list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width: 660px) {
  .footer__nav__list {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.footer__nav__list-item a {
  color: white;
}

.media {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (max-width: 660px) {
  .media {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}

/* Загальні стилі для контейнера */
.burger-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Забезпечує розширення на всю ширину сторінки */
  margin: 0;
  padding: 0;
}

/* Загальні стилі для списку */
.burger-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Забезпечує повну ширину */
}

/* Перша секція (перший пункт меню) */
.section-one {
  background-color: #BE4C4C; /* Ваш колір для першої секції */
  width: 100%; /* Фон на всю ширину сторінки */
  padding: 10px 0 10px 30px;
  text-align: left;
}
.section-one:hover {
  background-color: #E46D6D;
}

/* Секції з іншим кольором */
.section-two {
  background-color: #BE4C4C; /* Ваш колір для решти секцій */
  width: 100%; /* Фон на всю ширину сторінки */
  padding: 10px 0 10px 30px; /* Відступи всередині */
  text-align: left;
}
.section-two:hover {
  background-color: #E46D6D;
}

/* Загальний стиль посилань */
.burger-nav__list-item {
  color: #fff;
  font-family: "Gotu", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

@media (max-width: 425px) {
  .burger-nav__list-item {
    font-size: 21px; /* Розмір шрифту для планшетів */
  }
}/*# sourceMappingURL=main.css.map */