@import url(https://fonts.googleapis.com/css?family=Gotu:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,800);
.main {
  background-image: url("./../img/mainpage/main.jpg");
  background-size: cover;
  background-position: center;
  padding: 44px 0;
}
@media screen and (max-width: 1200px) {
  .main {
    padding: 30px 0;
  }
}
@media screen and (max-width: 660px) {
  .main {
    padding: 20px 0;
  }
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media screen and (max-width: 460px) {
  .header__search {
    row-gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
}

.btn-search {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  padding: 11px 21px;
  -moz-column-gap: 11px;
       column-gap: 11px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .btn-search img {
    height: 24px;
    width: 24px;
  }
}
@media screen and (max-width: 660px) {
  .btn-search {
    padding: 8px 11px;
  }
}
@media screen and (max-width: 460px) {
  .btn-search {
    order: 0;
  }
}

.search__div {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.search__div img {
  padding: 0 10px;
}
@media screen and (max-width: 660px) {
  .search__div {
    max-width: 250px;
  }
}
@media screen and (max-width: 460px) {
  .search__div {
    order: 2;
    max-width: 100%;
  }
}

#search-input {
  color: #000;
  width: 100%;
  border-radius: 10px;
  padding: 8px 16px;
}

@media screen and (max-width: 1200px) {
  .search__menu {
    height: 24px;
    width: 24px;
  }
}
@media screen and (max-width: 460px) {
  .search__menu {
    order: 1;
  }
}

.search-cards {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 70px;
  justify-items: center;
}
@media screen and (max-width: 1200px) {
  .search-cards {
    gap: 40px;
  }
}
@media screen and (max-width: 660px) {
  .search-cards {
    grid-template-columns: 1fr;
  }
}

.searach-card {
  padding: 40px 25px;
  background-color: #d9d9d9;
  color: #000;
  border-radius: 68px;
  max-width: 380px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .searach-card {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 660px) {
  .searach-card {
    padding: 20px 15px;
  }
}

.search-card__img {
  min-height: 296px;
  border-radius: 82px;
}
@media screen and (max-width: 1200px) {
  .search-card__img {
    min-height: 220px;
  }
}
@media screen and (max-width: 660px) {
  .search-card__img {
    min-height: 150px;
  }
}

.search-card__title {
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .search-card__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 660px) {
  .search-card__title {
    margin-bottom: 10px;
  }
}

.search-card__text {
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .search-card__text {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 660px) {
  .search-card__text {
    margin-bottom: 10px;
  }
}

.search-card__btn {
  color: #fff;
  border-radius: 20px;
  background-color: #09d714;
  padding: 6px 32px;
}
@media screen and (max-width: 1200px) {
  .search-card__btn {
    padding: 5px 25px;
  }
}
@media screen and (max-width: 660px) {
  .search-card__btn {
    padding: 4px 20px;
  }
}

.search-card__btn:hover {
  background-color: rgba(9, 123, 15, 0.937254902);
  transition: 0.4s;
}/*# sourceMappingURL=page4.css.map */