@import './../scss/base/vars';
@import './../scss/base/mixins';

.main {
	background-image: url('./../img/mainpage/main.jpg');
	background-size: cover;
	background-position: center;
	padding: 44px 0;
	@include mediaTablet {
		padding: 30px 0;
	}
	@include mediaPhone {
		padding: 20px 0;
	}
}

.header__search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 90px;
	@include mediaSmallPhone {
		row-gap: 20px;
		flex-wrap: wrap;
		margin-bottom: 45px;
	}
}

.btn-search {
	background-color: $gray;
	display: flex;
	align-items: center;
	padding: 11px 21px;
	column-gap: 11px;
	border-radius: 10px;
	@include mediaTablet {
		img {
			height: 24px;
			width: 24px;
		}
	}
	@include mediaPhone {
		padding: 8px 11px;
	}

	@include mediaSmallPhone {
		order: 0;
	}
}

.search__div {
	background-color: $gray;
	display: flex;
	align-items: center;
	border-radius: 10px;
	img {
		padding: 0 10px;
	}
	@include mediaPhone {
		max-width: 250px;
	}

	@include mediaSmallPhone {
		order: 2;
		max-width: 100%;
	}
}

#search-input {
	color: $black;
	width: 100%;
	border-radius: 10px;
	padding: 8px 16px;
}

// .search-button {
// 	padding: 8px 16px;
// 	background-color: $search;
// 	border-radius: 10px;
// }

.search__menu {
	@include mediaTablet {
		height: 24px;
		width: 24px;
	}

	@include mediaSmallPhone {
		order: 1;
	}
}

.search-cards {
	font-family: $font-inter;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 70px;
	justify-items: center;
	@include mediaTablet {
		gap: 40px;
	}
	@include mediaPhone {
		grid-template-columns: 1fr;
	}
}

.searach-card {
	padding: 40px 25px;
	background-color: $gray;
	color: $black;
	border-radius: 68px;
	max-width: 380px;
	text-align: center;
	@include mediaTablet {
		padding: 30px 20px;
	}
	@include mediaPhone {
		padding: 20px 15px;
	}
}

.search-card__img {
	min-height: 296px;
	border-radius: 82px;
	@include mediaTablet {
		min-height: 220px;
	}
	@include mediaPhone {
		min-height: 150px;
	}
}

.search-card__title {
	margin-bottom: 20px;
	@include mediaTablet {
		margin-bottom: 15px;
	}
	@include mediaPhone {
		margin-bottom: 10px;
	}
}

.search-card__text {
	margin-bottom: 20px;
	@include mediaTablet {
		margin-bottom: 15px;
	}
	@include mediaPhone {
		margin-bottom: 10px;
	}
}

.search-card__btn {
	color: $white;
	border-radius: 20px;
	background-color: $search;
	padding: 6px 32px;
	@include mediaTablet {
		padding: 5px 25px;
	}
	@include mediaPhone {
		padding: 4px 20px;
	}
}
.search-card__btn:hover {
	background-color: #097b0fef;
	transition: 0.4s;
}
