@import './../scss/base/vars';
@import './../scss/base/mixins';
.main {
}
.skywings-header {
	position: relative;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
		url('./img/page3.png') lightgray 50% / cover no-repeat;
	height: 960px;
	@include mediaTablet {
		height: 700px;
	}
	@include mediaPhone {
		height: 400px;
	}
}

.skywings__title {
	font-family: $font-montserrat;
	max-width: 830px;
	font-size: 2.6em;
	padding-top: 205px;
	span {
		color: #e0eb06;
	}
	@include mediaTablet {
		padding-top: 150px;
		max-width: 442px;
	}
	@include mediaPhone {
		padding-top: 30px;
		font-size: 2em;
	}
}
.skywings__btn {
	margin-top: 369px;
	display: flex;
	font-weight: 700;
	column-gap: 86px;
	@include mediaTablet {
		margin-top: 150px;
		column-gap: 66px;
	}
	@include mediaPhone {
		margin-top: 100px;
		column-gap: 46px;
	}
}
.btn-order {
	padding: 5px 59px;
	color: $black;
	background-color: #ffd338;
	border-radius: 8px;
	@include mediaTablet {
		padding: 5px 30px;
	}
	@include mediaPhone {
		padding: 5px 15px;
	}
}
.btn-order:hover {
	background-color: #c5a222;
	transition: 0.4s;
}
.btn-info {
	padding: 5px 59px;
	color: $black;
	background-color: $white;
	border-radius: 8px;
	@include mediaTablet {
		padding: 5px 30px;
	}
	@include mediaPhone {
		padding: 5px 15px;
	}
}
.btn-info:hover {
	background-color: #ffffff97;
	transition: 0.4s;
}
.skywings-cards {
	padding-top: 14px;
	background-color: $black;
}
.container-btn {
	display: flex;
	column-gap: 30px;
	@include mediaPhone {
		row-gap: 15px;
	}
}
.skywings-card-grid {
	display: grid;
	row-gap: 55px;
}

.skywings-card-img {
	margin-bottom: 20px;
}
.skywings-card-order {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	@include mediaTablet {
		flex-direction: column;
		align-items: flex-start;
	}
}
.skywings-card-order_text {
	font-family: $font-inter;
	font-size: 2.5em;
	color: #d8ff58;
	@include mediaTablet {
		font-size: 2em;
		margin-bottom: 10px;
	}
}
.skywings-card-cost {
	span {
		color: #989898;
	}
	font-size: 1.6em;
}
