@import './../scss/base/vars';
.main {
}
.skywings-header {
	background-image: url('./img/page3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 960px;
}

.skywings__title {
	font-family: $font-montserrat;
	max-width: 830px;
	font-size: 2.6em;
	padding-top: 205px;
	span {
		color: #e0eb06;
	}
}
.skywings__btn {
	margin-top: 369px;
	display: flex;
	column-gap: 86px;
}
.btn-order {
	padding: 5px 59px;
	color: $black;
	background-color: #ffd338;
	border-radius: 8px;
}
.btn-info {
	padding: 5px 59px;
	color: $black;
	background-color: $white;
	border-radius: 8px;
}
.skywings-cards {
	padding-top: 14px;
	background-color: $black;
}

.skywings-card-grid {
	display: grid;
	row-gap: 55px;
}

.skywings-card-img {
	margin-bottom: 20px;
}
.skywings-card-order {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.skywings-card-order_text {
	font-family: $font-inter;
	font-size: 2.5em;
	color: #d8ff58;
}
.skywings-card-cost {
	span {
		color: #989898;
	}
	font-size: 1.6em;
}
