@import './../base/vars';

/* Загальні стилі для контейнера */
.burger-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; /* Забезпечує розширення на всю ширину сторінки */
	margin: 0;
	padding: 0;
}

/* Загальні стилі для списку */
.burger-nav__list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%; /* Забезпечує повну ширину */
}

/* Перша секція (перший пункт меню) */
.section-one {
	background-color: $nav-other-section; /* Ваш колір для першої секції */
	width: 100%; /* Фон на всю ширину сторінки */
	padding: 10px 0 10px 30px;
	text-align: left;
	&:hover {
		background-color: $nav-about;
	}
}

/* Секції з іншим кольором */
.section-two {
	background-color: $nav-other-section; /* Ваш колір для решти секцій */
	width: 100%; /* Фон на всю ширину сторінки */
	padding: 10px 0 10px 30px; /* Відступи всередині */
	text-align: left;
	&:hover {
		background-color: $nav-about;
	}
}

/* Загальний стиль посилань */
.burger-nav__list-item {
	color: $white;
	font-family: $font-gotu;
	font-size: 1.5em;
	text-decoration: none;
}

@media (max-width: 425px) {
	.burger-nav__list-item {
		font-size: 21px; /* Розмір шрифту для планшетів */
	}
}
