.header {
}
.header-row {
	display: flex;
	justify-content: center;
}

.header__logo {
	text-align: center;
	padding: 10px 0;
	background-color: $header-logo;
}
.header__nav {
	font-size: 1.3em;
	padding: 50px 0;
	background-color: $header-nav;
}
.nav__list {
	display: flex;
	justify-content: space-between;
}
.nav__list-item {
	position: relative;
	color: $white;
	&::after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 3px;
		background-color: $white;
		transition: width 0.3s ease-in;
	}
	&:hover::after {
		width: 100%;
	}
}
