.header {
}

.header__logo {
	align-items: center;
	text-align: center;
	padding: 10px 0;
	background-color: $header-logo;
	@include mediaTablet {
		display: none;
	}
}
.header__nav {
	font-size: 1.3em;
	padding: 50px 0;
	background-color: $header-nav;
	@include mediaTablet {
		padding: 35px 0;
		background-color: $header-logo;
	}
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mediaTablet {
		display: none;
	}
}
.nav__list-item {
	position: relative;
	color: $white;
	&::after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 3px;
		background-color: $white;
		transition: width 0.3s ease-in;
	}
	&:hover::after {
		width: 100%;
	}
}

.header-nav-row {
	display: inline;
	width: 100%;
	@include mediaTablet {
		display: flex;
		justify-content: space-between;
	}
	@include mediaPhone {
		gap: 10px;
	}
}

.logo {
	display: none;
	@include mediaTablet {
		display: block;
	}
}

.header-btn {
	display: none;
	@include mediaTablet {
		display: block;
	}
}

.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo-nav {
	display: none;
	@include mediaTablet {
		display: flex;
		align-items: center;
	}
}

.logo-img {
	@include mediaTablet {
		width: 25%;
	}
}
