body {
	font-size: 24px;
	font-family: $font-gotu;
	color: $white;
	@include mediaTablet {
		font-size: 18px;
	}

	@include mediaPhone {
		font-size: 16px;
	}
}

.container {
	max-width: 1320px;
	padding: 0 20px;
	margin: 0 auto;
}

.title {
	text-align: center;
	font-size: 2em;
}
