@import url(https://fonts.googleapis.com/css?family=Gotu:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,800);
// Fonts
$font-gotu: 'Gotu', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
// Colors
$white: #fff;
$black: #000;
$gray: #d9d9d9;
$header-logo: #fd8994;
$header-nav: #fc5c6b;
$nav-about: #E46D6D; 
$nav-other-section: #BE4C4C;

$btn: #ffd338;
$search: #09d714;
